<div>
    <nav class="navbar bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="">Kumaravel Umapathy</a>
    
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Resume</a>
            </li>
    
          </ul>
        </div>
      </nav>
</div>
<router-outlet></router-outlet>
<!-- <app-contact></app-contact> -->