/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {box-sizing: border-box;}
.wrapper {
  max-width: 100%;
  margin: 1s auto;
}

.wrapper > div {
  border: 2px solid rgb(107, 103, 97);
  border-radius: 5px;
  /* background-color: rgba(233,171,88,.5); */
  padding: 1em;
  color: #363331;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


.left{
    grid-row: 1/8;
    grid-column:1;
}

.right{
    grid-row: 1/8;
    grid-column: 2/7;
}